.App {
  text-align: center;
  background: rgb(255, 128, 31);
  background: -webkit-linear-gradient(top left, rgb(255, 129, 32), rgba(255, 118, 255, 1.0));
  background: -moz-linear-gradient(top left, rgb(255, 129, 32), rgba(255, 118, 255, 1.0));
  background: linear-gradient(to bottom right, rgb(255, 129, 32), rgba(255, 118, 255, 1.0));
  position: relative;
  min-height: 20cm;
}

.navigation {
  padding-top: 55px;
}

.links {
  text-decoration: none;
  padding: 0 15px;
  color:  rgb(68, 66, 66);
  font-weight: bolder;
  font-size: larger;
  font-family: "Merienda";
}

.links.active {
  color: white
}

.ripple {
  border: none;
  border-radius: 20px;
  padding: 18px 20px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  background-color: rgb(53, 53, 53);
  box-shadow: 0 0 4px #999;
  outline: none;
  margin-right: 10px;
  background-position: center;
  transition: background 0.7s;
  font-family: Overlock;
  font-size: large;
}

.ripple:hover {
  background-color: dodgerblue;
  background-image: radial-gradient(circle, transparent 1%, dodgerblue 1%);
  background-position: center;
  background-size: 15000%;
}

.ripple:active {
  background-color: #ffffff;
  background-size: 100%;
  transition: background 0s
}

.heading_1 {
  color: antiquewhite; 
  font-family: "Istok Web";
}

.heading_2 {
  font-family: "Courgette";
}

@media all and (max-width: 768px) {
  .ripple {
    padding: 8px 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: 2px;
    margin-right: 7px;
  }

  .heading_1 {
    font-size: 15px;
  }

  .heading_2 {
    font-size: 15px;
  }
}

@media all and (min-height: 800px) {
  .App {
    min-height: 23cm;
  }
}

@media all and (min-height: 1020px) {
  .App {
    min-height: 28cm;
  }
}

@media all and (min-height: 1366px) {
  .App {
    min-height: 38cm;
  }
}
